<div class="container text-center">


    <div class="row">

        <div class="col-md-12 text-center">

            <img src="public/assets/images/huracan.png" width="200" height="200" /> 
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>KEV'S DROP TOP SHOP</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">

            <h2>Check Out Our Invetory, Choose Your Chariot !</h2>
            <br>
            <ul class="list-group">
                {{#each vehicles}} {{#unless this.driven}}
                <li class="list-group-item carstodrive">
                        <h3>{{this.vehicle_name}}
                        <form action="vehicles/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="driven" value="true">
                        <br>
                        <button type="submit" class="btn float-center btn-small btn-danger">Take This Baby For A Spin <i class="fas fa-car" aria-hidden="true"></i></button>
                        </form>
                </li>
                {{/unless}} {{/each}}
            </ul>

        </div>

        <div class="col-md-6 text-center">

            <h2>Here are some of the sweet rides you've driven, let us know when you're ready to take one home !</h2>

            <ul class="list-group carsdriven">
                {{#each vehicles}} {{#if this.driven}}
                <li class="list-group-item">
                    <h3>
                        {{this.vehicle_name}}
                        <form action="vehicles/delete/{{this.id}}?_method=DELETE" method="POST">
                        <br>
                            <button type="submit" id="grabKeys" class="btn float-right btn-small btn-success">I'm Sold <i class="far fa-money-bill-alt"></i></button>
                        </form>
                        <h3>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-center" id="addVehcile">
            <br>
            <h1>Add Your Own Ride</h1>
            <form class="create-update-form" action="vehicles/create" method="POST">

                <div class="form-group">
                    <label for="record">Vehicle Name:</label>
                    <input type="text" id="vehicle" name="name">
                </div>
                <button type="submit" class="btn float-center btn-small btn-primary">Add This Ride <i class="fas fa-cart-plus"></i></button>
                <br>
                <br>
            </form>
        </div>
    </div>


</div>